# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
venv/
ENV/
env/
.venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings (optional, kalau kamu pakai VS Code)
.vscode/

# MacOS system files
.DS_Store

# Trainer model file
trainer/trainer.yml

# Dataset images (optional kalau mau kosongin di repo)
dataset/

# Log files
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
